.header {
    background-color: brown;

    .header_top {}

    .header-banner {
        img {
            background-size: cover;
            width: 100vw;
        }
    }

    .header-menu {
        ul {
            li {
                color: rgb(255, 255, 255);
                padding-left: 20px;
            }
        }

        .input-group {
            padding-left: 40px;
        }
    }
}

.middle {
    background-color: rgb(230, 230, 230);

    .middle-list {
        background-color: #fff;

        &-banner {
            img {
                background-size: cover;
                width: 100%;
            }
        }

        &-items {
            .boxContainer {
                padding-bottom: 8px;

                .boxOrange {
                    padding-top: 0px;
                    margin: 0;

                    .content {
                        background: url(../images/cat-org-iten.gif) repeat-y top left #f2d3bf;

                        .vMenuLeft {
                            list-style: none;
                            padding: 0px;
                            margin: 0px;

                            li {
                                a:link {
                                    display: block;
                                    background: url(../images/bg_left.gif) no-repeat top left;
                                    padding: 6px 10px 9px 28px;
                                    font: normal 10pt 'Roboto Condensed', Arial, Helvetica, sans-serif;
                                    color: #333;
                                }
                            }
                        }
                    }
                }
            }
        }

        .card {
            .card-body {
                padding: 10px;
            }
        }

        .mCSB_container {
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 0.25rem;
            li {
                padding: 4px 5px 5px 15px;
                background: url(../images/arr-red1.gif) no-repeat 5px 10px;
                text-align: justify;
                line-height: 1.5;
                border-bottom: 1px solid #FFF;
                list-style: none;
                color: #000;
                a{
                    color: #000;
                    font-size:12px;
                }
            }
        }
        &-img{
            &-items{
                padding-right: 0px;
            }
            img{
                width: 95%;
            }
        }
        &-items{
            &-top{
                background: url(../images/body-top-new-bg.gif) repeat-y top left;
                div{
                    padding: 6px 5px 14px 35px;
                    a{
                        font: bold 10pt 'Roboto Condensed',Arial,Helvetica,sans-serif;
                        color: #E62329;
                        text-decoration: none;
                        text-shadow: 0px 1px 1px #ccc;
                        text-transform: uppercase;
                    }
                }
            }
            &-mid{
                &-card{
                    display: flex;
                    img{
                        width: 30%;
                    }
                    &-title{
                        font-size: 14px;
                        font-weight: bold;
                        padding-left: 5px;
                        text-align: justify;
                    }
                }
                &-text{
                    font-size: 14px;
                    border-bottom: 2px solid rgb(230, 230, 230);
                    text-align: justify;
                }
            }
            &-bottom{
                ul{
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    li{
                        background: url(../images/arr-red.gif) no-repeat 5px 10px;
                        padding: 5px 5px 5px 15px;
                        text-align: justify;
                        a{
                            font-size: 12px;
                            color: #222;
                            text-decoration: none;
                           
                        }
                        span{
                            font-size: 11px;
                            color: #666;
                            font-style: italic;
                        }
                    }
                }
            }
            &-star{
                background: url(../images/box-news-top-bg.gif) no-repeat top left;
                 padding-left: 30px;
                 div{
                    background: url(../img/box-news-top-bg.gif) no-repeat top right;
                    padding: 7px 10px 7px 0;
                    a{
                        font-size:12px;
                        font-weight: bold;
                        color: #E82C39;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                 }
            }
            &-law{
                ul{
                    clear: both;
                    display: block;
                    list-style: none outside none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    li{
                        border-bottom: 1px dotted #CCCCCC;
                        clear: both;
                        display: inline-block;
                        width: 100%;
                        .item{
                            padding: 10px;
                            .title{
                                background: url(../images/arrBox02.gif) no-repeat scroll 5px 8px #F1F1F1;
                                border: 1px solid #DEDEDE;
                                padding: 5px 0 5px 18px;
                                text-align: justify;
                                a{
                                    color: #131E32;
                                    font-size: 13px;
                                    text-decoration: none;
                                    font-weight: bold;
                                }
                            }
                            .left{
                                float: left;
                                padding-right: 1%;
                                width: 100%;
                                .des{
                                    color: #222222;
                                    font-size: 13px;
                                    min-height: 40px;
                                    padding: 5px 0;
                                    text-align: justify;
                                }
                            }
                            .right{
                                padding: 5px 0;
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.box-shadow{

    box-shadow: 5px 0px rgb(238, 238, 238);
}
footer{
    background-color: rgb(230, 230, 230);
    .footer-link{
       
        padding-top: 5px;
        width: 100%;
        display: inline-block;
        clear: both;
        &-list{
            background: url(../images/footer-bg.png) no-repeat top center;
            padding: 0px 10px 20px 15px;
            background-size: cover;
            ul{
                padding: 0px;
                margin: 0px;
                list-style: none;
                width: 100%;
                display: inline-block;
                clear: both;
                li{
                    background: url(../images/footer-header-link.gif) no-repeat top left;
                    float: left;
                    width: 22.0512%;
                    padding: 5px 0px 8px 28px;
                    a{
                        color: #333;
                        text-decoration: none;
                    }
                    ul{
                        padding-top: 10px;
                        li{
                            background: none;
                            width: 100%;
                            clear: both;
                            display: inline-block;
                            padding: 4px 0px 4px 0px;
                            a{
                                color: #333;
                                font-size: 12px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        &-content{
            text-align: center;
            padding: 10px 10px 15px 10px;
            background: url(../images/bottom-footer-bg.png) no-repeat 50% 50%;
            .title{
                text-transform: uppercase;
                font-weight: bold;
            }
            p{
                color: #666;
            }
        }
    }
}
